body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.high-score {
    font-size: large;
}
.timer {
    float: right;
    padding-bottom: 10px;
}

.intro-page {
    text-align: center;
   
}

.startbtn {
    background-color: rgb(65, 18, 113);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border-color: rgb(65, 18, 113);
    
}
.startbtn::after {
    background-color: cadetblue;
}



/* high scores page styling */

.btn {
    background-color: rgb(65, 18, 113);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border-color: rgb(65, 18, 113);
}